<form action="/upload" method="post" enctype="multipart/form-data">
  <input 
  accept="image/jpg, image/gif, image/png" 
  type="file" 
  name="fileupload" />
  <button type="submit">upload image</button>
</form>